<ion-header>
  <ion-buttons slot="start">
    <ion-button routerLink="/inicio">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <div class="piercings-container">
    <ion-card *ngFor="let piercing of piercings" class="piercing-card">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img [src]="piercing.image" alt="{{ piercing.name }}">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ piercing.name }}</h2>
          <p>Precio: {{ piercing.price | currency:'CLP' }}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
