<ion-content class="profile-container">
  <ion-header>
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-header>

  <div class="header">
    <h1>Perfil de Usuario</h1>
  </div>

  <div class="profile-info">
    <div class="photo-container">
      <ion-avatar>
        <img src="assets/img/logo2.png" alt="Foto de usuario" />
      </ion-avatar>
    </div>

    <div class="user-info">
      <p><strong>Nombre de Usuario:</strong> {{ username }}</p>
      <p><strong>Correo:</strong> {{ email }}</p>

      <ion-item>
        <ion-label position="floating">Número de Celular</ion-label>
        <ion-input [(ngModel)]="phoneNumber" placeholder="+569"></ion-input>
      </ion-item>

      <ion-button expand="block" shape="round" (click)="savePhoneNumber()">Guardar</ion-button>
    </div>
  </div>

  <div class="footer-logo">
    <img src="assets/img/logo2.png" alt="La Vida Piercings">
  </div>
</ion-content>
