.home-container {
    background-image: url('/assets/img/background.jpg');
  font-family: Arial, sans-serif;
  color: #00aaff;
  text-align: center;
  padding: 20px;
}

.header h1 {
  color: #00aaff;
  margin-bottom: 10px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 30px;
}

.header p {
  margin-bottom: 20px;
  color: #000000;
  font-size: 16px;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

ion-card {
  border: 2px solid #00aaff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.9);
  overflow: hidden;
  text-align: left;
  height: 200px;
}

ion-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

ion-card-title {
  font-size: 18px;
  color: #343a40;
  text-align: center;
}

.footer-logo {
  margin-top: 30px;
}

.footer-logo img {
  width: 100px;
  height: auto;
}