<ion-content class="home-container">
  <ion-header>
  </ion-header>
  <div class="header">
    <h1>Bienvenido a La Vida Piercings</h1>
    <p>Explora y agenda 
      tus citas fácilmente</p>
  </div>

  <div class="options-container">
    <ion-card routerLink="/piercings">
      <ion-img src="assets/img/background.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Explorar Piercings</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card routerLink="/agenda">
      <ion-img src="assets/img/citas.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Agendar Citas</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card routerLink="/profile">
      <ion-img src="assets/img/perfil.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Mi Perfil</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <div class="footer-logo">
    <img src="assets/img/logo2.png" alt="La Vida Piercings">
  </div>
</ion-content>
