.home-container {
  background-size: cover; 
  font-family: Arial, sans-serif; 
  text-align: center;
  padding: 20px;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header h1 {
  color: #00aaff;
  margin-top: 80px;
  margin-bottom: 10px;
  font-size: 2rem;
}

/* Subtítulo */
.header p {
  margin-bottom: 20px;
  color: #000000;
  font-size: 1.1rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Contenedor de las opciones (tarjetas) */
.options-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .options-container {
    flex-direction: row; /* Cambia a una fila en pantallas grandes */
    justify-content: space-between;
  }
}

/* Estilo de las tarjetas */
ion-card {
  border: 2px solid #00aaff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto de transición */
  height: 100px;
}

ion-card:hover {
  transform: translateY(-5px); /* Efecto de movimiento en hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Efecto de sombra en hover */
}

ion-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

ion-card-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #343a40;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo claro para el título */
  border-top: 1px solid #00aaff; /* Línea separadora */
}

/* Pie de página (logo) */
.footer-logo {
  margin-top: 30px;
}

.footer-logo img {
  width: 120px;
  height: auto;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Mejoras para la accesibilidad y la claridad del diseño */
a {
  color: #00aaff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.menu-footer {
  margin-top: auto;
  border-top: 1px solid #ccc;
  background-color: #f8f9fa;
}

.logout-button {
  color: #d9534f;
  font-weight: bold;
}

.logout-button ion-icon {
  color: #d9534f;
}
