<ion-content>
  <div class="header">
    <h1>LA VIDA PIERCING</h1>
    <h3>ingresa tus datos para iniciar sesion</h3>
  </div>
  <ion-content class="form-page">
    <div class="form-container">
      <h2 class="form-title">INICIO SESION</h2>
      <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
        <div class="input-group">
          <label for="email">Correo Electrónico</label>
          <input id="email" formControlName="email" type="email" placeholder="Correo Electrónico">
          <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="error-message">
            <div *ngIf="loginForm.controls['email'].hasError('required')">El correo es obligatorio.</div>
            <div *ngIf="loginForm.controls['email'].hasError('email')">El formato del correo no es válido.</div>
          </div>
        </div>
        <div class="input-group">
          <label for="password">Contraseña</label>
          <input id="password" formControlName="password" [type]="showPassword ? 'text' : 'password'"
            placeholder="Contraseña">

          <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched"
            class="error-message">
            <div *ngIf="loginForm.controls['password'].hasError('required')">La contraseña es obligatoria.</div>
          </div>
        </div>
        <button type="submit" class="submit-button">Iniciar Sesión</button>
      </form>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <a routerLink="/recuperar" class="forgot-password">¿Olvidaste tu contraseña?</a>
      <p class="message-container">
        ¿No tienes una cuenta?
        <a routerLink="/register" class="create-account">Crear una cuenta</a>
      </p>
    </div>
  </ion-content>
</ion-content>