<ion-content>
  <div class="header">
    <h1>LA VIDA PIERCING</h1>
    <h3>ingresa tus datos para iniciar sesion</h3>
  </div>
<ion-content class="form-page">
  <div class="form-container">
    <h1 class="form-title">REGISTRO</h1>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="input-group">
        <label for="firstName">Nombre</label>
        <input id="firstName" formControlName="firstName" type="text" placeholder="Nombre">
        <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched"
          class="error-message">
          El nombre es obligatorio.
        </div>
      </div>
      <div class="input-group">
        <label for="lastName">Apellido</label>
        <input id="lastName" formControlName="lastName" type="text" placeholder="Apellido">
        <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched"
          class="error-message">
          El apellido es obligatorio.
        </div>
      </div>
      <div class="input-group">
        <label for="email">Correo Electrónico</label>
        <input id="email" formControlName="email" type="email" placeholder="Correo Electrónico">
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error-message">
          Ingresa un correo válido.
        </div>
      </div>
      <div class="input-group">
        <label for="password">Contraseña</label>
        <input id="password" formControlName="password" type="password" placeholder="Contraseña">
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
          class="error-message">
          La contraseña es obligatoria.
        </div>
      </div>
      <div class="input-group">
        <label for="confirmPassword">Confirmar Contraseña</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password"
          placeholder="Confirmar Contraseña">
        <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched"
          class="error-message">
          Las contraseñas deben coincidir.
        </div>
      </div>

      <button expand="block" type="submit" class="submit-button" [disabled]="registerForm.invalid">Registrar</button>
    </form>


    <p class="message-container">
      ¿Ya tienes una cuenta?
      <a routerLink="/login" class="create-account">iniciar sesion</a>
    </p>

  </div>
</ion-content>