<ion-content class="agenda-container">
  <ion-header>
    <ion-buttons slot="start">
      <ion-button routerLink="/inicio">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-header>
  <div class="form-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Agendar Cita</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Seleccionar Día</ion-label>
          <ion-datetime
            presentation="date"
            [min]="minDate"
            [max]="maxDate"
            (ionChange)="filterWeekdays($event)"
          ></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Seleccionar Hora</ion-label>
          <ion-select
            placeholder="Seleccionar Hora"
            [(ngModel)]="selectedTime"
          >
            <ion-select-option *ngFor="let hora of horas">
              {{ hora }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Seleccionar Piercing</ion-label>
          <ion-select
            placeholder="Seleccionar Piercing"
            [(ngModel)]="selectedPiercing"
          >
            <ion-select-option *ngFor="let piercing of piercings">
              {{ piercing }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Método de Pago</ion-label>
          <ion-select
            placeholder="Seleccionar Método"
            [(ngModel)]="selectedPaymentMethod"
          >
            <ion-select-option value="efectivo">Efectivo</ion-select-option>
            <ion-select-option value="transferencia">Transferencia</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button expand="block" (click)="confirmarCita()">Confirmar Cita</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
